.container-main{
    background-image: none;
}

.container-feed h1{
    text-align: center;
    color: #4314A8;
}

.postform input[type=submit]{
    height: 25px;
    color: #fff;
    background-color: #4314A8;
    transition: 0.3s linear;
}

.postform input[type=submit]:hover{
    color: #4314A8;
    background-color: #fff;
    border: 1px solid #4314A8;
}

textarea{
    resize: none;
    border: 2px solid #4314A8;
    border-radius: 10px;
}

::selection{
    border: 2px solid #4314A8;
}