.container-main{
    background-image: none;
    overflow: auto;
}

.container-feed h1{
    text-align: center;
    color: #4314A8;
}

.postform input[type=submit]{
    height: 25px;
    color: #fff;
    background-color: #4314A8;
    transition: 0.3s linear;
}

.postform input[type=submit]:hover{
    color: #4314A8;
    background-color: #fff;
    border: 1px solid #4314A8;
}

#postTitle{
    border: 2px solid #4314A8;
    background-color: #fff;
    width: 800px;
    text-align: center;
}

input[type=file]{
    display: none;
    background-color: transparent;
}

textarea{
    resize: none;
    border: 2px solid #4314A8;
    border-radius: 10px;
}

::selection{
    border: 2px solid #4314A8;
}



.container-post img{
    width: 60px;
}

.key{
    background-color: #ccc;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: auto;
    padding: 25px;
}

.postName{
    font-weight: bold;
    color: #4314A8;
    margin-left: 10px;
    margin-top: 15px;
}

.userInfo{
    display: flex;
    margin-bottom: 10px;
}